
/*
Colors:
#FBECEB - beige
#53D3D1 - turquesa
#FEB249 - orange
#002447 - dark blue;
#FDD982 - golden;
#007fff - shiny blue
*/
body {
  font-family: 'Montserrat', sans-serif;
  background-color: #f5f5f5;
  overflow-y:hidden;
  }

.container-fluid {
  overflow-y: hidden;
}

  #hola-b{
  font-family: 'Kanit', sans-serif;
  font-weight: bolder;
  font-size: 3.3rem;
  }



#back-trans {
  height: 100vh;
  background-color: #FBECEB;
  transition: all 2s;
  }

  #back-list {
    height: 90vh;
    transition: all 2s;
    }
.list {
  height: 30%;
  margin-top: 45px;
}

.bullets{
  color:#007fff;
  font-family: 'Kanit', sans-serif;
  font-weight: bolder;
  font-size: 2.1rem;
  cursor: pointer;
}
.bullets:hover {
  color: #fff;
  border-bottom: 3px solid #fff !important;
}

.headline {
  font-family: 'Kanit', sans-serif;
  font-weight: bolder;
  font-size: 1.6rem;
  background-color:  #FBECEB;
  padding: 5px;
  margin-left: 10px;
}
.subtitle {
  margin-left: 20px;
  font-size: 0.8rem;
  color: grey;
}
.hello{
  background: transparent ;
  box-shadow: none;
  border: none;
  border-bottom: 3px solid #ffffff;
  width: 60px;
  transition: all 1.5s;
 }

 .hello:focus {
   border: none;
   background-color: transparent;
   resize: none;
   outline: none;
   width: 240px;
   border-bottom: 1px solid #ffffff;
 }

 ::placeholder {
  color: #d2d2d2;
  opacity: 1; /* Firefox */
}

#posts {
  height: 0vh;
}

#back {
  position: fixed;
  top: 9px;
  left: 1px;
  background: #FBECEB;
  display: none;
  height: 32px;
  z-index: 30;
}

.paragraph {
  margin: 1rem;
  line-height: 1.3rem;
}
